.styles_button__WU0mz {
    padding: 0
}

.styles_body__tBR_2 {
    text-align: end
}

.styles_resetButton__oVpt9 {
    padding: 2px;
    font: inherit;
    color: var(--cui-fg-subtle);
    pointer-events: all;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: var(--cui-border-radius-byte);
    outline: none;
    transition: fill var(--cui-transitions-default)
}

.styles_resetButton__oVpt9:hover {
    color: var(--cui-fg-subtle-hovered)
}

.styles_resetButton__oVpt9:focus {
    color: var(--cui-fg-subtle-pressed)
}

.styles_visibilityToggleContainer__upbT7 {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto
}

.styles_strengthMeterContainer__4f13l {
    margin-bottom: var(--cui-spacings-mega)
}

.styles_coloredProgressBar__tGGFg {
    margin-bottom: var(--cui-spacings-bit)
}

.styles_coloredProgressBar__tGGFg>span:after {
    background-color: var(--progress-bar-color)
}

.styles_coloredBody__Mi5P0 {
    font-weight: 400
}

.styles_coloredBodyBold__vcKOn {
    font-weight: 700
}

.styles_formContainer__xT_Uw {
    width: 100%
}

.styles_notification__Zoc1P {
    margin-top: var(--cui-spacings-mega)
}

.styles_bottomSpacing__6PTD2,.styles_notification__Zoc1P {
    margin-bottom: var(--cui-spacings-giga)
}

.styles_passwordInput__pWCyy {
    margin-bottom: var(--cui-spacings-mega)
}

.styles_webauthnNotification__tEZGX {
    margin-bottom: var(--cui-spacings-kilo)
}

.styles_buttonGroup__3IUYe {
    container-name: button-group
}

.styles_buttonGroup__3IUYe div {
    display: flex;
    flex-direction: column;
    align-items: center
}

.styles_buttonGroup__3IUYe button {
    width: 100%
}

.styles_footer__1GA4i {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--cui-spacings-mega)
}

.styles_main__lW3lk {
    flex-grow: 1
}

.styles_header__JJ0ZW {
    padding: 0 var(--cui-spacings-mega)
}

.styles_closeButton__zrCJ5 {
    margin-top: var(--cui-spacings-kilo)
}

.styles_content__vEkvi {
    display: flex;
    flex-direction: column;
    align-content: justify-between;
    min-height: 100vh
}

.styles_wrapper__3R5Z3 {
    width: 100%;
    min-height: calc(100vh - 202px)
}

.styles_wrapperExtraColumn__Q_TmK {
    display: flex;
    align-items: center;
    justify-self: stretch;
    width: 40%;
    min-height: calc(100vh - 202px)
}

@media (max-width: 768px) {
    .styles_wrapperExtraColumn__Q_TmK {
        width:100%;
        min-height: auto;
        margin-bottom: var(--cui-spacings-giga)
    }
}

.styles_iframeContainer__7Egnd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%
}

.styles_iframe__bkW4o {
    width: 328px;
    height: 368px;
    margin-bottom: var(--cui-spacings-giga);
    background-color: pink;
    border-radius: var(--cui-border-radius-mega)
}

@media (min-width: 960px) {
    .styles_iframe__bkW4o {
        width:384px;
        height: 338px;
        margin: var(--cui-spacings-mega)
    }
}

.styles_languageSelect__DAI65 {
    margin-right: var(--cui-spacings-mega)
}

.styles_box__1egCi:not(:last-of-type),.styles_notification__wjKtX {
    margin-bottom: var(--cui-spacings-giga)
}

@media (min-width: 480px) {
    .styles_box__1egCi:not(:last-of-type) {
        margin-bottom:var(--cui-spacings-peta)
    }
}

.styles_authMain__xKIjy {
    align-items: stretch;
    justify-items: stretch;
    max-width: 600px
}

.styles_authMainExtraColumn__aNKZ9,.styles_authMain__xKIjy {
    display: flex;
    width: 100%;
    padding: 0 var(--cui-spacings-mega);
    margin: 0 auto
}

.styles_authMainExtraColumn__aNKZ9 {
    flex-direction: row;
    align-items: center;
    justify-content: space-around
}

@media (max-width: 768px) {
    .styles_authMainExtraColumn__aNKZ9 {
        flex-direction:column
    }
}

.login_bodyMarginTop___NCkL {
    display: block;
    margin-top: var(--cui-spacings-giga);
    text-align: center
}

.login_bodyMarginTopSmall__FaT2k {
    margin-top: var(--cui-spacings-byte);
    text-align: center
}

.login_headlineMargin__xoDmP {
    width: 100%;
    margin-bottom: var(--cui-spacings-giga);
    text-align: left
}

.login_bodyMargin__gebf5 {
    width: 100%;
    margin-bottom: var(--cui-spacings-mega);
    text-align: left
}

.login_box__lUFpp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%
}

.styles_qrCodeColumn__GknlZ {
    align-self: center;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    padding: 56px 32px;
    border: 1px solid #ccc;
    border-radius: 16px
}

@media (max-width: 767px) {
    .styles_qrCodeColumn__GknlZ {
        display:none
    }
}

.styles_loginWithQRCodeContainer__oD2WX {
    position: relative;
    display: block;
    align-self: center;
    margin: 0 auto
}

.styles_qrCanvasContainer__BonOG {
    display: flex;
    align-items: center;
    justify-content: center
}

.styles_bodyMarginTop__EMB_T {
    display: block;
    margin-top: var(--cui-spacings-giga);
    text-align: center
}

.styles_bodyMarginTopSmall__5xLgR {
    margin-top: var(--cui-spacings-byte);
    text-align: center
}

/*# sourceMappingURL=6223d0e68bce5b57.css.map*/
